<div class="card-body">
  <form novalidate
        #eventForm="ngForm">
    <fieldset>
      <legend>Basic event Information</legend>

      <div class="form-group row">
        <label class="col-md-2 col-form-label"
               for="eventNameId">event Name</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="eventNameId"
                 type="text"
                 placeholder="Name (required)"
                 required
                 minlength="3"
                 [(ngModel)]=event.eventName
                 name="eventName"
                 #eventNameVar="ngModel"
                 [ngClass]="{'is-invalid': (eventNameVar.touched || 
                                            eventNameVar.dirty ||
                                            event.id !== '0') && 
                                            !eventNameVar.valid }" />
          <span class="invalid-feedback">
            <span *ngIf="eventNameVar.errors?.required">
              event name is required.
            </span>
            <span *ngIf="eventNameVar.errors?.minlength">
              event name must be at least three characters.
            </span>
          </span>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-2 col-form-label"
               for="eventDescriptionId">event Description</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="eventDescriptionId"
                 type="text"
                 placeholder="Description (required)"
                 required
                 [(ngModel)]=event.eventDescription
                 name="eventDescription"
                 #eventDescriptionVar="ngModel"
                 [ngClass]="{'is-invalid': (eventDescriptionVar.touched || 
                                            eventDescriptionVar.dirty ||
                                            event.id !== '0') &&
                                            !eventDescriptionVar.valid }" />
          <span class="invalid-feedback">
            <span *ngIf="eventDescriptionVar.errors?.required">
              event Description is required.
            </span>
          </span>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-2 col-form-label"
               for="eventDateId">event Data</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="eventDateId"
                 type="text"
                 placeholder="event Date (required)"
                 required
                 minlength="3"
                 [(ngModel)]=event.eventDate
                 name="eventDate"
                 #eventDateVar="ngModel"
                 [ngClass]="{'is-invalid': (eventDateVar.touched || 
                                            eventDateVar.dirty ||
                                            event.id !== '0') && 
                                            !eventDateVar.valid }" />
          <span class="invalid-feedback">
            <span *ngIf="eventDateVar.errors?.required">
              event Date is required.
            </span>
            <span *ngIf="eventDateVar.errors?.minlength">
              event Data must be at least three characters.
            </span>
          </span>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-2 col-form-label"
               for="baseLocationId">Base Location</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="baseLocationId"
                 type="text"
                 placeholder="Base Location (required)"
                 required
                 minlength="3"
                 [(ngModel)]=event.baseLocation
                 name="baseLocation"
                 #baseLocationVar="ngModel"
                 [ngClass]="{'is-invalid': (baseLocationVar.touched || 
                                            baseLocationVar.dirty ||
                                            event.id !== '0') && 
                                            !baseLocationVar.valid }" />
          <span class="invalid-feedback">
            <span *ngIf="baseLocationVar.errors?.required">
              Base Location is required.
            </span>
            <span *ngIf="baseLocationVar.errors?.minlength">
              Base Location must be at least three characters.
            </span>
          </span>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-2 col-form-label"
               for="beneficiaryNameId">Beneficiary Name</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="beneficiaryNameId"
                 type="text"
                 placeholder="Beneficiary Name (required)"
                 required
                 minlength="3"
                 [(ngModel)]=event.beneficiaryName
                 name="beneficiaryName"
                 #beneficiaryNameVar="ngModel"
                 [ngClass]="{'is-invalid': (beneficiaryNameVar.touched || 
                                            beneficiaryNameVar.dirty ||
                                            event.id !== '0') && 
                                            !beneficiaryNameVar.valid }" />
          <span class="invalid-feedback">
            <span *ngIf="beneficiaryNameVar.errors?.required">
              Beneficiary Name is required.
            </span>
            <span *ngIf="beneficiaryNameVar.errors?.minlength">
              Beneficiary Name must be at least three characters.
            </span>
          </span>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-2 col-form-label"
               for="venueAddressId">Venue Address</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="venueAddressId"
                 type="text"
                 placeholder="Venue Address (required)"
                 required
                 minlength="3"
                 [(ngModel)]=event.venueAddress
                 name="venueAddress"
                 #venueAddressVar="ngModel"
                 [ngClass]="{'is-invalid': (venueAddressVar.touched || 
                                            venueAddressVar.dirty ||
                                            event.id !== '0') && 
                                            !venueAddressVar.valid }" />
          <span class="invalid-feedback">
            <span *ngIf="venueAddressVar.errors?.required">
              Venue Address is required.
            </span>
            <span *ngIf="venueAddressVar.errors?.minlength">
              Venue Address must be at least three characters.
            </span>
          </span>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-2 col-form-label"
               for="councilNameId">Council Name</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="councilNameId"
                 type="text"
                 placeholder="Council Name (required)"
                 required
                 minlength="3"
                 [(ngModel)]=event.councilName
                 name="councilName"
                 #councilNameVar="ngModel"
                 [ngClass]="{'is-invalid': (councilNameVar.touched || 
                                            councilNameVar.dirty ||
                                            event.id !== '0') && 
                                            !councilNameVar.valid }" />
          <span class="invalid-feedback">
            <span *ngIf="councilNameVar.errors?.required">
              Council Name is required.
            </span>
            <span *ngIf="councilNameVar.errors?.minlength">
              Council Name must be at least three characters.
            </span>
          </span>
        </div>
      </div>

      <!-- <div class="form-group row">
        <label class="col-md-2 col-form-label"
               for="descriptionId">Description</label>
        <div class="col-md-8">
          <textarea class="form-control"
                    id="descriptionId"
                    placeholder="Description"
                    rows=3
                    [(ngModel)]=event.description
                    name="description"></textarea>
        </div>
      </div> -->
    </fieldset>
  </form>
</div>

<div class='alert alert-danger'
     *ngIf='errorMessage'>{{errorMessage}}
</div>