<span class="fa fa-spinner spinner"
      *ngIf="loading"></span>

<!-- Main part of the menu-->
<div class="jumbotron jumbotron-fluid text-center">
  <div class="container">
    <h3><i class="fa fa-windows"></i> Outreach Event Management Sysyem</h3> 
  </div>
</div>
<div class="wrapper">
  <!-- Sidebar Holder -->
  <nav id="sidebar">
      <!-- <div class="sidebar-header">
          <h5>Outreach FMS</h5>
      </div> -->

      <ul class="list-unstyled components">
          
          <li class="nav-item">
            <a class="nav-link"
            [routerLink]="['/dashBoard']"
            routerLinkActive="active"><i class="fa fa-dashboard"></i> DashBoard</a>
          </li>
          <li>
            <a class="nav-link"
         [routerLink]="['/event']"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{ exact : true}"><i class="fa fa-tasks"></i> Events</a>
          </li>
          <li >
            <a class="nav-link"
            [routerLink]="['/event', '0', 'edit']"
               routerLinkActive="active"><i class="fa fa-tasks"></i> AddEvents</a>
          </li>
          <li *ngIf="!isLoggedIn">
            <a class="nav-link"
            [routerLink]="['/login']"
            routerLinkActive="active"
            ><i class="fa fa-sign-in"></i> Log In</a>
          </li>
          <li *ngIf="isLoggedIn">
            <a class="nav-link"
            (click)="logOut()"
            routerLinkActive="active"><i class="fa fa-sign-out"></i> Log Out</a>
          </li>
      </ul>
  </nav>
  <div id="content">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

            <button type="button" id="sidebarCollapse" class="navbar-btn">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <!-- <div class="row" *ngIf="isLoggedIn"> -->
              
              <!-- <div col-md-6><i  style='font-size:24px' class="fa fa-user" aria-hidden="true"></i></div> -->
              <!-- <div col-md-6 style="padding-right: 25px"><h6><i class="fa fa-user-right"></i>Welcome {{ userName }}</h6></div> -->
          <!-- </div> -->
          <a *ngIf="isLoggedIn"><i style='font-size:24px' class="fa fa-user"></i>Welcome {{ userName }}</a>
            
        </div>
    </nav>
<div class="container">
  <div class="row">
    <div class="col-md-12"
         [@slideInAnimation]="o.isActivated ? o.activatedRoute : ''">
      <router-outlet #o="outlet"></router-outlet>
    </div>
    
  </div>
</div>
</div>
</div>
<!-- <div class="footer">
  <p>Footer</p>
</div> -->