<div class="card">
    <div class="card-header card-header-danger">
    
      <h6 class="card-title"><i class="fa fa-tasks"></i> {{pageTitle}}</h6>
  </div>

  <div class="card-body"
       *ngIf="event">
       <div class="row">
         <div class="col-md-6">
          <div class="alert alert-info alert-with-icon" data-notify="container">
            <h6>Event Name</h6>
            <span data-notify="message">{{event.eventName}}</span>
        </div>
        <div class="alert alert-info alert-with-icon" data-notify="container">
          <h6>Event Description</h6>
          <span data-notify="message">{{event.eventDescription}}</span>
      </div>
      <div class="alert alert-info alert-with-icon" data-notify="container">
        <h6>Base Location</h6>
        <span data-notify="message">{{event.baseLocation}}</span>
    </div>
    <div class="alert alert-info alert-with-icon" data-notify="container">
      <h6>Beneficiary Name</h6>
      <span data-notify="message">{{event.beneficiaryName}}</span>
  </div>
  <div class="alert alert-info alert-with-icon" data-notify="container">
    <h6>Lives Impacted</h6>
    <span data-notify="message">{{event.livesImpacted}}</span>
  </div>
  
</div>
<div class="col-md-6">
  <div class="alert alert-info alert-with-icon" data-notify="container">
    <h6>Venue Address</h6>
    <span data-notify="message">{{event.venueAddress}}</span>
</div>
<div class="alert alert-info alert-with-icon" data-notify="container">
  <h6>Total No of Volunteers</h6>
  <span data-notify="message">{{event.totalNoVolunteers}}</span>
</div>
<div class="alert alert-info alert-with-icon" data-notify="container">
  <h6>Total Volunteers Hours</h6>
  <span data-notify="message">{{event.totalVolunteHours}}</span>
</div>
<div class="alert alert-info alert-with-icon" data-notify="container">
  <h6>Total Travel Hours</h6>
  <span data-notify="message">{{event.totalTravelHours}}</span>
</div>
         </div>
       </div>
      

    <div class="row mt-4">
      <div class="col-md-4">
        <button class="btn btn-outline-secondary mr-3"
                style="width:80px"
                [routerLink]="['/event']"
                >
          <i class="fa fa-chevron-left"></i> Back
        </button>
        <button class="btn btn-primary mr-3"
                style="width:80px"
                [routerLink]="['edit']">
          Edit
        </button>
      </div>
    </div>

  </div>
</div>

<div class="alert alert-danger"
     *ngIf="errorMessage">{{errorMessage}}
</div>