<div class="card">
    <div class="card-header card-header-danger">
    
      <h4 class="card-title">{{pageTitle}}</h4>
  </div>

  <div class="card-body"
       *ngIf="event">
        <div class="row">
          <div class="col-md-3">Event Name:</div>
          <div class="col-md-6">{{event.eventName}}</div>
        </div>
        <div class="row">
          <div class="col-md-3">Event Description:</div>
          <div class="col-md-6">{{event.eventDescription}}</div>
        </div>
        <div class="row">
          <div class="col-md-3">Base Location:</div>
          <div class="col-md-6">{{event.baseLocation}}</div>
        </div>
        <div class="row">
          <div class="col-md-3">Beneficiary Name:</div>
          <div class="col-md-6">{{event.beneficiaryName}}</div>
        </div>
        <div class="row">
          <div class="col-md-3">Venue Address:</div>
          <div class="col-md-6">{{event.venueAddress}}</div>
        </div>
        <div class="row">
          <div class="col-md-3">Total No of Volunteers:</div>
          <div class="col-md-6">{{event.totalNoVolunteers}}</div>
        </div>
        <div class="row">
          <div class="col-md-3">Total Volunteers Hours:</div>
          <div class="col-md-6">{{event.totalVolunteHours}}</div>
        </div>
        <div class="row">
          <div class="col-md-3">Total Travel Hours:</div>
          <div class="col-md-6">{{event.totalTravelHours}}</div>
        </div>
        <div class="row">
          <div class="col-md-3">Lives Impacted:</div>
          <div class="col-md-6">{{event.livesImpacted}}</div>
        </div>


    <div class="row mt-4">
      <div class="col-md-4">
        <button class="btn btn-outline-secondary mr-3"
                style="width:80px"
                [routerLink]="['/event']"
                >
          <i class="fa fa-chevron-left"></i> Back
        </button>
        <button class="btn btn-primary mr-3"
                style="width:80px"
                [routerLink]="['edit']">
          Edit
        </button>
      </div>
    </div>

  </div>
</div>

<div class="alert alert-danger"
     *ngIf="errorMessage">{{errorMessage}}
</div>