/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";

.card {
  font-size: .875rem ! important;
  color: #333;
}

.card [class*=card-header-]:not(.card-header-icon):not(.card-header-text):not(.card-header-image) {
  border-radius: 3px;
  margin-top: -20px;
  padding: 15px;
}

.card [class*=card-header-], .card [class*=card-header-] .card-title, .card [class*=card-header-] .card-title a, .card [class*=card-header-] .icon i, .card[class*=bg-], .card[class*=bg-] .card-title, .card[class*=bg-] .card-title a, .card[class*=bg-] .icon i {
  color: #fff;
}

.card .card-header-danger .card-icon, .card .card-header-danger .card-text, .card .card-header-danger:not(.card-header-icon):not(.card-header-text) {
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(244,67,54,.4);
}

.card .card-header-danger .card-icon, .card .card-header-danger .card-text, .card .card-header-danger:not(.card-header-icon):not(.card-header-text), .card.bg-danger, .card.card-rotate.bg-danger .back, .card.card-rotate.bg-danger .front {
  background: linear-gradient(60deg,#ef5350,#e53935);
}

div.card-header {
 font-size: medium;
 margin: 0 15px;
 padding: 0;
 position: relative;
}

div.card {
  margin-top: 10px
}


div.card-body {
  height:100%;
}

.card .card-body {
  padding: .9375rem 20px;
  position: relative;
}

.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
}

.table {
  margin-top: 10px
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #f44336;
  border-color: #f44336;
}

.btn-primary  {
  color: #fff;
  background-color: #f44336;
  border-color: #f44336;
}

.btn-primary:hover {
  color: #fff;
  background-color: #f44336;
  border-color: #f44336;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
