<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
            <mat-card class="card-main">Total Events
                <mat-card-content class="card-main">
                  <p>
                    8
                  </p>
                </mat-card-content>
                <mat-card-footer class="card-ft">
                  View Details
                </mat-card-footer>
              </mat-card>
        </div> 
        <div class="col-md-3">
            <mat-card class="card-main">Live Impacts
                <mat-card-content class="card-main">
                  <p>
                    8
                  </p>
                </mat-card-content>
                <mat-card-footer class="card-ft">
                  View Details
                </mat-card-footer>
              </mat-card>
        </div>
        <div class="col-md-3">
            <mat-card class="card-main">Total Volunteers
                <mat-card-content class="card-main">
                  <p>
                    8
                  </p>
                </mat-card-content>
                <mat-card-footer class="card-ft">
                  View Details
                </mat-card-footer>
              </mat-card>
        </div>
        <div class="col-md-3">
            <mat-card class="card-main">Total Participants
                <mat-card-content class="card-main">
                  <p>
                    8
                  </p>
                </mat-card-content>
                <mat-card-footer class="card-ft">
                  View Details
                </mat-card-footer>
              </mat-card>
        </div>
      </div>
    </div>
    
  </div>
</div>
