<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
            <mat-card class="card-main">Total Events
                <mat-card-header >
                  <!-- <mat-card-title class="card-tt">Total Events</mat-card-title> -->
                </mat-card-header>
                
                <mat-card-content class="card-main">
                  <p>
                    8
                  </p>
                </mat-card-content>
                <mat-card-footer class="card-ft">
                  View Details
                </mat-card-footer>
              </mat-card>
        </div> 
        <div class="col-md-3">
            <mat-card>Live Impact</mat-card>
        </div>
        <div class="col-md-3">
            <mat-card>Total Volunteers</mat-card>
        </div>
        <div class="col-md-3">
            <mat-card>Total Participants</mat-card>
        </div>
      </div>
    </div>
    
  </div>
</div>
